name: CPAN

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    uses: PerlToolsTeam/github_workflows/.github/workflows/cpan-test.yml@main
    with: 
      os: '["macos-latest", "ubuntu-latest"]'

  coverage:
    uses: PerlToolsTeam/github_workflows/.github/workflows/cpan-coverage.yml@main

  perlcritic:
    uses: PerlToolsTeam/github_workflows/.github/workflows/cpan-perlcritic.yml@main

  check-format:
    runs-on: ubuntu-latest
    container: avastsoftware/perltidy
    steps:
      - uses: actions/checkout@v6
      - name: Perl version
        run: perl -V
      - name: Check formatting
        run: make check-format

